body,html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #2b5876, #4e9f70, #f2f2f2);
}

.Navbar{
  width: 100%;
  height:60px ;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #43cea2, #185a9d);
  padding: 7px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.logo{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 10px;
}
span{
  color: white;
  font-weight: 800;
}
.Men-But{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(134, 217, 218);
  color:rgb(13, 11, 11);
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  margin-right: 25px;
}
.Men-But:hover{
  background-color: rgb(247, 48, 204);
  color: white;
  box-shadow: 0 4px 10px rgba(49, 194, 196, 1);
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 80px;
  animation: fadeSlide 1.5s ease-out;
  
}

.heading h1 {
  font-size: 42px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000; 
  margin-bottom: 10px;
  opacity: 0;   
  animation: fadeSlide 1.2s ease-out forwards;
}

.heading p {
  color: #333333; 
  text-transform: uppercase; 
  font-weight: 400;
  opacity: 0; 
  animation: fadeSlide 1.5s ease-out forwards;
  animation-delay: 0.3s; 
}


@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Box {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;

}

.BoxA{
  display: flex;
  margin-left: 70px;
}

.Boxa {
  height: 210px;
  width: 210px;
  background-color: aliceblue;
  border: 4px solid rgb(56, 56, 61);
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
}
.Boxa h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.Boxa img{
  height: 80px;
  width: 80px;
  background-color: aliceblue;
}

.Boxa:hover{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.Boxb {
  height: 210px;
  width: 210px;
  background-color: aliceblue;
  border: 4px solid rgb(56, 56, 61);
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
}
.Boxb img{
  height: 80px;
  width: 80px;
  background-color: aliceblue;
}
.Boxb:hover{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.Boxb h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.Boxc {
  height: 210px;
  width: 210px;
  background-color: aliceblue;
  border: 4px solid rgb(56, 56, 61);
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
}
.Boxc:hover{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.Boxc img{
  height: 80px;
  width: 80px;
  background-color: aliceblue;
}
.Boxc h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.BoxB{
  display: flex;
  margin-left: 70px;
}

.Boxd {
  height: 210px;
  width: 210px;
  background-color: aliceblue;
  border: 4px solid rgb(56, 56, 61);
  border-radius: 20px;
  text-align: center;
  margin: 25px;
}
.Boxd:hover{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.Boxd img{
  height: 80px;
  width: 80px;
  background-color: aliceblue;
}
.Boxd h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.Boxe {
  height: 210px;
  width: 210px;
  background-color: aliceblue;
  border: 4px solid rgb(56, 56, 61);
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
}
.Boxe:hover{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.Boxe img{
  height: 80px;
  width: 80px;
  background-color: aliceblue;
}
.Boxe h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.Boxf {
  height: 210px;
  width: 210px;
  background-color: aliceblue;
  border: 4px solid rgb(56, 56, 61);
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
}
.Boxf:hover{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.Boxf img{
  height: 80px;
  width: 80px;
  background-color: aliceblue;
}
.Boxf h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.BoxC{
  display: flex;
  margin-left: 70px;
}

.Boxg {
  height: 210px;
  width: 210px;
  background-color: aliceblue;
  border: 4px solid rgb(56, 56, 61);
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
}
.Boxg:hover{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.Boxg img{
  height: 80px;
  width: 80px;
  background-color: aliceblue;
}
.Boxg h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.Boxh {
  height: 210px;
  width: 210px;
  background-color: aliceblue;
  border: 4px solid rgb(56, 56, 61);
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
}
.Boxh:hover{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.Boxh img{
  height: 80px;
  width: 80px;
  background-color: aliceblue;
}
.Boxh h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.Boxi {
  height: 210px;
  width: 210px;
  background-color: aliceblue;
  border: 4px solid rgb(56, 56, 61);
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
}
.Boxi:hover{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.Boxi img{
  height: 80px;
  width: 80px;
  background-color: aliceblue;
}
.Boxi h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}




.ButtonBox{
  display: grid;
  top: 30px;
  margin-left: 500px;
}

.button-group {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 40px;
  margin-left: 1000px;
  position: absolute;
  top: 220px;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; 
  padding: 10px 20px;
  border-radius: 30px;
  width: 350px; 
  height: 60px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-button .icon {
  margin-right: 10px;
  background-color: antiquewhite;
  border-radius: 50%;
  font-size: 30px;
}

.custom-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
